{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Фото</title>{% endblock %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Фотографии деревни и окрестностей</h3>
                    <p>(Фотографии кликабельны)</p>
                </div>
            </div>
        </div>
    </div>
</div>


                <div class="col-lg-6">
                <p>
                    <br /><a href="{% static 'img/about/small4.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/about/small4.png' %}"alt="" width="275" height="190" />
                    </a>

                    <a href="{% static 'img/about/small5.png' %}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{% static 'img/about/small5.png' %}"alt="" width="275" height="190" />
                    </a>
                </p>
<!--/ bradcam_area  -->
                        <h2 class="footer_title">
                            Полезные ссылки
                        </h2>
                        <ul>
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">Фото</a></li>
                            <li><a href="{% url 'contacts' %}">История</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}